<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 客房价格 Mapper XML 映射文件，定义客房价格表的自定义 SQL 操作。 -->
<mapper namespace="cn.ivfzhou.springcloud.hotelserver.dao.RoomPriceMapper">


    <!-- 根据客房ID和日期范围更新客房剩余可预订数量。 -->
    <update id="updateRoomNumber">
        <![CDATA[
        update t_room_price
        set number = number + #{number}
        where rid = #{rid}
          and date >= #{beginTime}
          and date < #{endTime}
        ]]>
    </update>

</mapper>
