<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <script src="resources/scripts/jquery-1.8.3.min.js"></script>
    <script src="resources/scripts/dynamic-form.js"></script>

    <script>
        $(function () {
            // 动态的请求规则模板和限制模板
            getTemplates();
        });
    </script>

    <meta charset="UTF-8">
    <title>新增优惠券</title>
</head>
<body>
<h1>新增优惠券</h1>
<form action="/system/couponinsert" id="formid" method="post">

    优惠券标题：<input name="subject"/><br/>
    优惠券副标题：<input name="subtitle"/><br/>
    互斥类型：<input checked name="utype" type="radio" value="0"/>互斥卷
    <input name="utype" type="radio" value="1"/>叠加卷<br/>
    优先级（叠加卷有效）：<input name="priority" type="text"/><br/>
    使用说明：<textarea cols="25" name="content" rows="5"></textarea><br/>
    <hr/>
    选择规则模板：
    <input id="ruleClass" type="hidden"/>
    <input id="ruleInfo" name="ruleInfo" type="hidden"/>
    <div id="rule_div"></div>
    <div id="rule_field_div"></div>

    <hr/>
    选择限制模板：
    <input id="limitClass" type="hidden"/>
    <input id="limitInfo" name="limitInfo" type="hidden"/>
    <div id="limit_div"></div>
    <div id="limit_field_div"></div>

    <hr/>
    <button onclick="submitCoupon();" type="button">提交</button>
</form>

</body>
</html>
