<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="${#request.getContextPath() + '/'}"/>
    <meta charset="UTF-8">
    <title>新增模板页面</title>
    <!-- 动态表单相关的依赖 -->
    <script src="resources/scripts/jquery-1.8.3.min.js"></script>
    <script src="resources/scripts/dynamic-form.js"></script>
</head>
<body>
<h1>新增模板</h1>
<form action="/system/templateAdd" id="formid" method="post">
    模板名称: <input name="tname"/><br/>
    模板类型：
    <input checked name="templateType" type="radio" value="0"/>规则模板
    <input name="templateType" type="radio" value="1"/>限制模板<br/>
    模板对应的实体类:
    <input name="templateClass" type="text"/><br/>
    模板动态字段：
    <input id="templateDynamic" name="templateDynamic" type="hidden"/>
    <div id="dynamic_div"></div>

    <button onclick="addDynamicField();" type="button">新增动态字段</button>

    <br/>
    <br/>
    <button onclick="submitTemplate();" type="button">提交</button>
</form>
</body>
</html>